.main_header {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

main_header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

main_header-left {
    margin-top: 1rem;
}

.margin_header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1 rem;
}

.main_header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main_header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    filter: blur(10px);
}

.main_header-image {
    position:relative;
}

.programs {
    margin-top: 4rem;
}

.programs_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.programs_program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs_program:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}